.form-card {
    background-color: #E59999;
    padding: 0px;
    border-radius: 10px;
    border: 2px solid white;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 600px;
    height: 90vh;
    font-family: 'Arial', sans-serif;
  }
  
  .form-card form {
    display: flex;
    flex-direction: column;
    width: 80%;
    max-width: 500px;
    gap: 20px;
    
  }
  

  .form-card label {
    font-weight: bold;
    font-size: 18px;
    margin-bottom: -12px;
    color: #ffffff;
    text-shadow: -1px -1px 0 #3b3b3b, 1px -1px 0 #3b3b3b, -1px 1px 0 #3b3b3b, 1px 1px 0 #3b3b3b;
  }
  
  .form-card input,
  .form-card textarea {
    padding: 10px;
    border-radius: 5px;
    border: 2px solid #b25d5d;
    width: 95%;
    margin-bottom: 5px;
  }
  
  .submit-button {
    background-color: #4a2b2b;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 12px;
    cursor: pointer;
    align-self: center;
    margin-top: -10px;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
  }
  
  .submit-button:hover {
    background-color: #ac4747;
  }
  
