.page-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    background-color: #371F1F;
    min-height: 100vh;
    padding: 40px;
  }
  
  .form-container {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items:center;
    margin-right: 40px;
    margin-top: 20px;
  }
  
  .cards-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 30px; 
  }

  .scrollable-section {
    flex: 1;
    display: flex;
    flex-direction: column;
    max-height: 300px;
    overflow-y: auto;
    border: 1px solid #fff;
    border-radius: 8px;
    padding: 1rem;
}

.scrollable-menus {
  flex: 1; /* Right column takes less space */
  display: flex;
  flex-direction: column; /* Stack the scroll menus vertically */
  gap: 1rem;
}


.scrollable-content {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.section-title {
    font-size: 1.5rem;
    margin-bottom: 5px;
    color: #fff;
    font-family: Arial, sans-serif;
  }

.separator {
    height: 2px;
    background-color: #ccc;
    margin: 1rem 0;
}

