
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #fff;
  width: 100%; 
  

}

.logoBackground {
  background-color: #fa7d7c;
  border-radius: 8px;
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo {
  font-size: 2rem;
  font-weight: bold;
  color: #371f1f;
  font-family: "Mountains of Christmas", serif;
}

.appName {
  font-size: 4rem;
  text-align: center;
  flex: 1;
  font-family: "Mountains of Christmas", serif;
}

.menuIcon {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 4rem;
  height: 4rem;
  cursor: pointer;
}

.bar {
  height: 6px;
  background-color: white;
}
