

.loginCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #c56262;
  padding: 2rem;
  border-radius: 8px;
  max-width: 300px;
  width: 100%; 
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  border: 1px solid white;
  background-color: #b25d5d;
  margin-left: 10px;

}
.headphonesIcon {
  width: 6rem;
  height: auto;
  margin-bottom: 1rem;
}

.form {
  width: 100%;

}

.formInput {
  width: 100%;
  padding: 0.7rem;
  margin-top: 1rem;
  border: none;
  border-bottom: 1px solid #ccc;
  background-color: #c56262;
  color: #fff;
  background-color: #b25d5d;
  color: #e0e0e0;
  font-size: 1.2rem;
  font-family: "Ranchers", sans-serif;
  margin-bottom: 5px;
    font-size: 20px;
    color: #ffffff;
    text-shadow: -1px -1px 0 #3b3b3b, 1px -1px 0 #3b3b3b, -1px 1px 0 #3b3b3b, 1px 1px 0 #3b3b3b;

}

.formInput::placeholder {
  color: #e0e0e0;
  font-family: "Ranchers", sans-serif;
}

.loginButton {
  display: block;
  margin: 57px auto; 
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #4a2b2b;
  color: white;
  border: none;
  border-radius: 5px;
  margin-bottom: 15px;
}

.errorMessage {
  background-color: black;
  color: white;
  padding: 1rem;
  border-radius: 8px;  
  text-align: center; 
  width: 80%; 
  max-width: 400px;  
  margin: 1rem auto; 
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);  
}