
@import url('https://fonts.googleapis.com/css2?family=Mountains+of+Christmas:wght@400;700&family=Ranchers&display=swap');


html, body {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden; 
}

.app {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #371f1f;
  color: #fff;
padding: 2rem;
 
  box-sizing: border-box;
}

.title {
  margin-top: 1rem;
  font-size: 2rem;
  font-weight: bold;
  font-family: "Ranchers", sans-serif;
}

.cards-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap; 
}

select {
  background-color: #ffffff;
  padding: 10px;
  border-radius: 5px;
  border: 2px solid #b25d5d;
  width: 100%;
  margin-bottom: 5px;
}


