
@import url('https://fonts.googleapis.com/css2?family=Mountains+of+Christmas:wght@400;700&family=Ranchers&display=swap');


html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.app {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #371f1f;
  color: #fff;
padding: 2rem;
 
  box-sizing: border-box;
}

.title {
  margin-top: 1rem;
  font-size: 2rem;
  font-weight: bold;
  font-family: "Ranchers", sans-serif;
}

.cards-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap; 
  gap: 1rem; 
  margin-top: 2rem;
}

